
{% block content %}

<div class="page-margin-modif" style="margin-top:30px; margin-bottom:180px;">
	<div class="container">
        <div class="row">
            <nav aria-label="breadcrumb" style="margin-top:20px; margin-bottom:20px;">
                <ol class="breadcrumb" style="background-color: unset;">
                    
                    <li class="breadcrumb-item"><a href="{{path('app_home_page')}}">{{ 'nav.link_1'|trans }}</a></li>
                    <li class="breadcrumb-item"><a href="{{path('fos_user_profile_show')}}">{{ 'nav.link_8'|trans }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page" style="color: #3f3f3f; font-weight:500;">{{ 'nav.link_8.1'|trans }}</li>
                </ol>
            </nav>
        </div>
		<div class="row">
		    <div class="col-lg-8 Ccol-12">
                <h2 style="font-size:20px;">{{ 'nav.link_8'|trans }}</h2>
                <h3 style="font-size: 18px; margin-top:30px; margin-bottom:30px;">{{ 'nav.link_8.1'|trans }}</h3>
                {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': '' } }) }}
                   
                <div class="form-row ">
                    <div class="col-lg-12 col-12 mb-3">
                        {{ form_label(form.email, "Email") }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="col-lg-12 col-12 mb-3">
                        {{ form_label(form.current_password, "") }}
                        {{ form_errors(form.current_password) }}
                        {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>               
                {{ form_widget(form) }}
                    
                    
                    <div>
                        {% trans_default_domain 'FOSUserBundle' %}

                        <input type="submit" value="{{ 'profile.edit.submit'|trans }}"  style="
                        background-color: #00b8b1;
                        font-weight: 550 !important;
                        border-radius: 4px;
                        color:#fff;
                        font-size:13px;
                        border:none;
                        text-transform: uppercase; padding:15px 30px;" />
                    </div>
                {{ form_end(form) }}
               

            </div>
	    </div>		
	</div>
</div>
{% endblock %}


{% block javascript%}



{% endblock %}


