<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Paiement</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

 <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="{{ asset('plugins/fontawesome5.4.1/css/all.min.css') }}">
 <link rel="stylesheet" type="text/css" href="{{ asset('plugins/bootstrap4/bootstrap.min.css') }}">
 <link rel="stylesheet" type="text/css" href="{{ asset('styles/checkout.css') }}">
 <link rel="stylesheet" type="text/css" href="{{ asset('styles/checkout-responsive.css') }}">
  {% block stylesheets %}{% endblock %}
</head>
<body stylesheet="background: #ffff;">
  <style>
    .loader {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: url('{{ asset('images/preloader.gif') }}') center no-repeat #fff; 
  }
  
  </style>
  <div class="loader"></div>
    <div class="page-content">
        <header   style="height:60px;background: #fff;
        transition: all 0.5s;
        box-shadow: unset;
        height: 60px;
        left: 0px;
        right: 0px;
        top: 0px;
        border-bottom: 1px solid #ededed;
        border-radius: 0px;
        background-color: #fff;">
        
          <div class="container ">
            <div class="mobile-nav d-lg-none d-block" style="position:absolute; top:2%;">
              <a href="{{path('app_home_page')}}" style="padding:8px 20px;"> 
                <span class="fa fa-arrow-left" style="font-size:20px;color: #00b8b1; position:relative; left:-10px;"></span>
              </a>
              <span style="font-size: 20px; font-weight:500; color: #00b8b1;">Payement de don</span>
            </div>
            <div class="desktop-nav d-lg-block d-none">
              <a href="{{path('app_home_page')}}" style="position: absolute; left:10%; color: #00b8b1; top:3%; font-weight:500; text-transform:uppercase;"> 
                <span class="fa fa-angle-left" style="font-size:30px;color: #00b8b1; margin-right:5px;"></span>
                <span style="position:relative; top:-5px; left:5px; font-size:15px;">Retour</span> 
              </a>
              <div class="text-center">
                <div class="logo-container " style="display: inline-block; vertical-align:top; padding-top:13px;">
                  <div class="logo" style="display: inline-block; vertical-align:top;">
                    <img src="{{ asset('images/logo.png')}}" alt="" title="" style="height: 40px;
                      max-height: 250px; margin-top:-5px;"/>
                  </div>
                  <div class="secure-pay-text" style="display: inline-block; vertical-align:top; margin-top:8px; margin-left:10px; border-left:1px solid #00c290">
                    <span style="font-size: 16px; font-weight:500; position:relative; top:2px;left:10px; color: #00b8b1; text-transform:uppercase;">
                      <span class="fa fa-shield-alt" style="font-size: 20px; margin-right:5px;"></span> Paiement sécurisé
                    </span> </div>

                </div>              
              </div>
            </div>


          </div>
        </header>
        {% block content %}{% endblock %}
    </div>
    
    <script src="https://www.paypal.com/sdk/js?client-id=AVHlVqBXrWruPRnSTwl_F-0OZ_5jvH6ge3dDJlPWePdRHkGPmk1-3SOThr6jpaRMhoCL6nrOWqdWXYUe&currency=EUR"> // Replace YOUR_SB_CLIENT_ID with your sandbox client ID
    </script>
    <script src="{{ asset('plugins/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('plugins/bootstrap4/popper.js') }}"></script>
    <script src="{{ asset('plugins/bootstrap4/bootstrap.min.js') }}"></script>	
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
           	// Loading page
      var loaderPage = function() {
        $(".loader").fadeOut("slow");
      };

      $(function(){

        loaderPage();
      
      
      });


//ajax submit new entity form data
$("#payment-form").submit(function(event){
    event.preventDefault(); //prevent default action    
    var post_url = $(this).attr("action"); //get form action url
    var request_method = $(this).attr("method"); //get form GET/POST method
	var form_data = new FormData(this); //Creates new FormData object
    $.ajax({
        url : post_url,
        type: request_method,
        data : form_data,
		contentType: false,
		cache: false,
        processData:false,

        success : function(){
       
            
        }
    }).done(function(){ //
       
    });

}); 





    </script>
    {% block javascript %}{% endblock %}
</body>
</html>
